<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-avatar>
    <img src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255710-stock-illustration-avatar-vector-male-profile-gray.jpg">
  </ion-avatar>-->
  <ion-card color="secondary">
    <img src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255710-stock-illustration-avatar-vector-male-profile-gray.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">NoobMaster69</ion-card-title>
    </ion-card-header>
  </ion-card>
<ion-card>
  <ion-label>
Email: Thorkiller@gmail.com
  </ion-label>
</ion-card>
<ion-card>
  <ion-label>
Games: 69
  </ion-label>
</ion-card>
<ion-card>
  <ion-label>
Platinum Trophy: 69
  </ion-label>
</ion-card>
<ion-card>
  <ion-label>
Active: 69 Hous ago
  </ion-label>
</ion-card>
</ion-content>
