<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="danger">
    <img alt="Silhouette of mountains" src="https://images-platform.99static.com/_WzwSuPZPds8qf711RfptDyuTPc=/500x500/top/smart/99designs-contests-attachments/16/16325/attachment_16325393" />
    <ion-card-header>
      <ion-card-title>Money Machine</ion-card-title>
      <ion-card-subtitle>Trading Post</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

     This is where MONEY echange Happens, a virtual MACHINE for the convenience of all.

      <br>
      <br>

    </ion-card-content>
  </ion-card>
</ion-content>
