body{
    margin: 0;
    background: #222;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.nav-bar{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #fc5c9c;

}

header::after {
    content: '';
    display: table;
    clear: both;    
}

.logo{
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

nav{
    float: right;

}

nav ul{
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 90px;
    padding-top: 27px;
    padding-right: 75px;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #FFFFFF;
}